#board{
    display: inline-block; 
    min-height: 500px; 
    font-family: 'Raleway', serif;
    min-height: 100%; 
    margin-top: 80px;
}

#presidents div{
    display: inline-block; 
    width: 210px;
    text-align: center; 
    align-content: center; 
}

#about{
    margin-top: -100px; 
    height: auto; 
}

#board img{
    height: 220px; 
    width: 180px;  
    margin-top: 20px;
}

#facts{
    align-content: center;
    text-align: center;
}

#founders{
    align-content: center;
    text-align: center;
    display: inline-block;
}

#founders div{
    display: inline-block; 
    width: 210px; 
    text-align: center; 
}


#history-text{
    max-width: 330px; 
    height: auto; 
}
