#board{
    display: inline-block; 
    min-height: 500px; 
    font-family: 'Raleway', serif;
}

#presidents div{
    display: inline-block; 
    width: 210px;
    text-align: center; 
    align-content: center; 
}

#home-about{
    margin-top: 50px; 
    height: auto; 
}

#board img{
    height: 220px; 
    width: 180px;  
    margin-top: 20px;
}

#founders div{
    display: inline-block; 
    width: 210px; 
    text-align: center; 
}