#bg-computer{
    position: fixed;
    background-image: url("../../img/nicaraguaGroup.JPG");
        height: 100%; 
    width: 100%;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-filter:brightness(40%);
    filter:brightness(40%);
}