.crossfade > figure {
    position: absolute;
  animation: imageAnimation 10s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  top: 0px;
  width: 100%;
  z-index: -1;
   -webkit-filter:brightness(50%);
    filter:brightness(40%);
    
/*filter: blur(2px);
  -webkit-filter: blur(1.5px);
    */
}

.crossfade > figure:nth-child(1) { 
    background:linear-gradient( rgb(135, 241, 255, 0.5), rgb(0, 110, 144, 0.8) ),url('../../img/nicaraguaGroup.JPG') center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
   
}

.crossfade > figure:nth-child(2) {
  animation-delay: 2s;
  background:linear-gradient( rgb(0, 110, 144, 0.5), rgb(241, 143, 1, 0.8) ),url('../../img/nicaraguaGroup.JPG') center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.crossfade > figure:nth-child(3) {
  animation-delay: 4s;
  background:linear-gradient( rgb(241, 143, 1, 0.5), rgb(153, 194, 77, 0.8) ),url('../../img/nicaraguaGroup.JPG') center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.crossfade > figure:nth-child(4) {
  animation-delay: 6s;
  background:linear-gradient( rgb(153, 194, 77, 0.5)  , rgb(253, 231, 76, 0.8) ),url('../../img/nicaraguaGroup.JPG') center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.crossfade > figure:nth-child(5) {
  animation-delay: 8s;
  background:linear-gradient( rgb(253, 231, 76, 0.5) , rgb(135, 241, 255, 0.8) ),url('../../img/nicaraguaGroup.JPG') center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


@keyframes 
imageAnimation {  0% {
 animation-timing-function: ease-in;
 opacity: 0;
}
 8% {
 animation-timing-function: ease-out;
 opacity: .3;
}
 17% {
 opacity: .3
}
 25% {
 opacity: 0.6
}
  50% {
 opacity: 0.4
}
      75% {
 opacity: 0.25
}  

 100% {
 opacity: 0.1
}
}