

#facts{
    overflow: hidden;
    height: auto; 
    text-align: left;
    max-width: 1920px;
    background-color: white;
    opacity: 1; 
    left: 49%;
    align-content: center;
}

#paperplane{
    width: 380px;
    height: 260px;
    margin-top: 50px; 
    
    }

#mission{
    margin-top: 50px;
    text-align: center; 
    max-width: 1500px;
    font-family: 'Raleway', serif;
    float:center;
    width: 100%;
    min-width: 300px;
}

#beMember{
    max-width: 1920px;
    padding: 25px;
    height: auto;
    width: 100%; 
    text-align: center;
    font-family: 'Raleway', serif; 
}

@media only screen and (min-width: 540px){
    #paperplane{
        top: 50px; 
        width: 380px;
        height: 260px;
        float: left; 
    }
    #mission{
        margin-top: 50px;
        text-align: center; 
        max-width: 1500px;
        font-family: 'Raleway', serif;
        float:right;
        width: 50%;
    }
}

@media only screen and (min-width: 1080px) {
    #paperplane{
        width: 600px; height: 400px;
        top: 50px;
    }
    #facts, #history{
           padding: 50 200 50 200; 
    }
    #mission{
        margin-top: 50px;
        text-align: center; 
        max-width: 1500px;
        font-family: 'Raleway', serif;
        float:right;
        width: 400px;
    }

}