@import "https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css?family=Raleway');

#logo-text.before{
    display: flex;
    position: relative;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 6vw;
    width: 16%;
    right: 50%; 
    left: 49%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#logo {
    position: relative;
    right: 10px;
    top: 10px;
    height: 50px;
    width: 40px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header{
    overflow:hidden;
    text-align: center;
    padding: .5em;
    /*box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, .5);*/
}

.info{
    margin-left: 1%;
    height: auto;
    width: 1080px; 
    background: blue;
    text-align: center;
    font-family: 'Raleway', serif;
}

.header h1{
    padding: .5em;
    padding-bottom: .2em;
    font-size: 3.2em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.info h3{
    width: 100%;
    float: left; 
    font-family: 'Raleway', serif;
    padding: .5em;
    font-size: 1.5em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#facts{
    text-align: center;
    max-width: 1920px;
    background-color: white;
    padding: 2.7em;
    left: 49%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#beMember{
    max-width: 1920px;
    padding: 25px;
    height: auto;
    width: 100%; 
    text-align: center;
    font-family: 'Raleway', serif; 
}

#beMember button{
    height: 60px; 
    width: 300px; 
    background-color: cadetblue
}

#home{
    margin-top: 100px;
    min-height: 750px;
    height: 90%;
}

#footer{
    height: 20%;
}