@import "https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    display: block;
    height: 100%;
       z-index:4;
    min-height: 600px;
    font-family: 'Roboto', serif;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navi{
    position: fixed;
    top: 0;
    z-index: 1030;
-webkit-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
    width: 100%;
    font-family: 'Raleway', serif;
    background-color: white;
}
#info{
    height: 100px;
}
.navbar{
    width: 100%;
}

#logo {
    position: fixed;
    right: 0;
    left: 0; 
    z-index: 99;
    top: 7px;
    height: 50px;
    width: 100px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (min-width: 768px){
    #logo{
        left: 49%; 
    }
}