@import "https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    display: block;
    height: 100%;
       z-index:4;
    min-height: 600px;
    font-family: 'Roboto', serif;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navi{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    font-family: 'Raleway', serif;
    height: 67px;
    background-color: white;
}
#info{
    height: 100px;
}
.navbar{
    width: 100%;
}

