@import "https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    height: 100%;
       z-index:   
}
body:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
    align-content: center; 
  display: block;
  background-image: url('../../images/lightbluewater.png');
  background-size:cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(150px);
  -moz-filter: blur(150px);
  -o-filter: blur(150px);
  -ms-filter: blur(150px);
  filter: blur(150px);
}
#navi{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    font-family: 'Raleway', serif;
    height: 100px;
}
#info{
    height: 100px;
}
.navbar{
    box-shadow: 1px 4px 4px rgba(0, 0, 0, .5);
    width: 100%;
}
