@import url('https://fonts.googleapis.com/css?family=Raleway');

#video-div{
    margin: 20px;
}

#video-div h1{
    color: #f18f01;
    font-family: 'Raleway', serif;
}

#video{
    width: 350px;
    height: 200px;
}

@media only screen and (min-width: 445px){
    #video{
        width: 410px;
        height: 230px;
    }
}

@media only screen and (min-width: 720px){
    #video{
        width: 620px;
        height: 350px;
    }
    
    #video-div{
        margin: 40px; 
    }
}